{% extends "kiosk/barcode_main_10R.html" %}
{% block content %}
<body style="background-color:rgb(69, 173, 233);">
<form action="" method="post">{% csrf_token %}
    <br><br><br>
    <font style="font-size: 88px; color:rgb(65, 58, 95); text-shadow: 1px 1px 2px black, 1px 1px 2px rgb(251, 255, 0), 1px 1px 2px rgb(27, 19, 4);">
        <u>10R Laser Verification</u></font>
</font>
<br><br>
<br><br><br><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<font style="font-size: 70px; color:rgb(176, 161, 240); text-shadow: 1px 1px 2px black, 1px 1px 2px blue, 1px 1px 2px rgb(95, 184, 11);">

Part:
{{request.session.barcode_part_number}}

</font>
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input style="font-size:23px;width:900px;height:60px;text-align:center;" name="barcode" type="text"  autofocus/ >


</form>

<br><br><br><br>
<br><br><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;



</body>
{% endblock %}
