
<!-- ********************************** -->
<!-- ****   Kiosk_Job_leave.html   *** -->
<!-- ********************************** -->


{% extends "kiosk/kiosk.html" %}

{% block grid %}
	<link rel="stylesheet" href="/static/style_1/grid_kiosk_job_assign.css">
{% endblock %}


{% block content %}

<form action="" method="post">{% csrf_token %}

<center>
<div class="grid-container">
	<div class="item1">
		<input style="background-color: #AAA00A;border-radius: 10px;width:140px;height:60px;font-weight: 700;font-size:23px;align=left;" type="submit" value="Enter">
	</div>
	<div class="item2">
		<button style="background-color: #AAAAAA;border-radius: 10px;width:120px;height:60px;font-weight: 700;font-size:23px;align=left;" type="submit" name="kiosk_assign_button1" value="-1">Reset</button>
	</div>
	<div class="item3">
		<button style="background-color: #AAAAAA;border-radius: 10px;width:120px;height:60px;font-weight: 700;font-size:23px;align=right;" type="submit" name="kiosk_assign_button2" value="-2">Cancel</button>
	</div>
		<div class="item4">
		<font color="#000000" size ="6" style="font-weight: 700;font-size:29px;">Clock Number</font>
	<br>
		<input style="font-size:23px;width:190px;height:60px;" name="clock" type="number" autofocus >
	</div>

</div>

</center>
</form>

{% endblock %}
