
<!-- ********************************** -->
<!-- ****   Kiosk_error_badjobnumber.html   *** -->
<!-- ********************************** -->


{% extends "kiosk/kiosk.html" %}
{% block content %}



<br><br><br><br>
<center>
<table style="width:20%;">

<tr valign="middle"><th style="padding:20px;opacity: 0.75;filter:alpha(opacity=75);border-radius: 30px;" bgcolor="#DE8F7E" >
	
<center>
<font style="background-color: #DE8F7E;border-radius: 10px;width:100px;height:40px;font-weight: 700;font-size:23px;align=left;"><u>Error!</u> <br>
{{request.session.kiosk_error}}  is not a Machine / Job. <br><br> 

<a href="{{request.session.local_toggle}}/kiosk_job_assign">
<button style="background-color: #FFCDC3;border-radius: 10px;width:180px;height:60px;font-weight: 700;font-size:23px;align=left;"><center><font color="#000000"><< Go Back</font></center></button>
</a>


{% endblock %}
