<!DOCTYPE html>
<html lang="en">
<head>

	<!-- ********************************* BootStrap Local*******************************-->
	<script src="/static/bootstrap/js/1.11.3/jquery.min.js"></script>
	<script src="/static/bootstrap/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
	<!-- ***********************************************************************************-->
{% block grid %}
	<link rel="stylesheet" href="/static/style_1/grid_kiosk_main.css">
{% endblock %}




<style>


#full-screen-background-image {z-index: -999;min-height: 110%; min-width: 100%;width: 100%;height: 110%;position: fixed;top: 0;  left: 0;}
	.banner2_bg{position:absolute;background-color: #000000;opacity: 0.8;filter:alpha(opacity=80);width:auto; height:auto;z-index:-440;	border-radius: 25px;;}


</style>






</head>

<body>


<meta name="apple-mobile-web-app-capable" content="yes" />

<img alt="full screen background image" src="/static/media/kiosk.jpeg?{{TCUR}}" id="full-screen-background-image"/>




<br><br><br>


{% block content%}  <!-- Main Block -->
<form action="" method="post">{% csrf_token %}
<br><br><br><br>

<center>
<div class="grid-container">
	<div class="item1">
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<button class="button" type="submit" name="kiosk_button1" value="-1"><font size="7"><b>Production Entry</b></font></button>
	</div>

</div>
</center>




</form>



{% endblock %}  <!-- End Main Block -->

</body>
</html>
  
