{% extends "kiosk/kiosk.html" %}

<!-- ********************************** -->
<!-- ****   Kiosk_Job_assign.html   *** -->
<!-- ********************************** -->

{% block grid %}
	<link rel="stylesheet" href="/static/style_1/grid_kiosk_job_assign.css">
{% endblock %}

{% block content %} 

<form action="" method="post">{% csrf_token %}
<center>
<div class="grid-container">
	<div class="item1">
		<input style="background-color: #AAA00A;border-radius: 10px;width:140px;height:60px;font-weight: 700;font-size:23px;align=left;" type="submit" value="Enter">
	</div>
	<div class="item2">
		<button style="background-color: #AAAAAA;border-radius: 10px;width:120px;height:60px;font-weight: 700;font-size:23px;align=left;" type="submit" name="kiosk_assign_button1" value="-1">Reset</button>
	</div>
	<div class="item3">
		<button style="background-color: #AAAAAA;border-radius: 10px;width:120px;height:60px;font-weight: 700;font-size:23px;align=right;" type="submit" name="kiosk_assign_button2" value="-2">Cancel</button>
	</div>
	<div class="item4">
		<font color="#000000" size ="6">Clock Number</font>
	<br>
		<input style="font-size:23px;width:190px;height:60px;" name="clock" type="number" autofocus >
	</div>
	<div class="item4">
		<font color="#000000" size ="6">Jobs</font>
	</div>
	<div class="item5">
		1.<input style="font-size:23px;width:124px;height:60px;" list="browsers" name="job1" type="number">	
			<datalist id="browsers">{% for item in tmp %} <option value={{item.0}}>{{item.0}}</option> {% endfor %} </datalist>
	</div>
	<div class="item6">
		2.<input style="font-size:23px;width:124px;height:60px;" list="browsers" name="job2" type="number">	
			<datalist id="browsers">{% for item in tmp %} <option value={{item.0}}>{{item.0}}</option> {% endfor %} </datalist>
	</div>
	<div class="item5">
		3.<input style="font-size:23px;width:124px;height:60px;" list="browsers" name="job3" type="number">	
			<datalist id="browsers">{% for item in tmp %} <option value={{item.0}}>{{item.0}}</option> {% endfor %} </datalist>
	</div>
	<div class="item6">
		4.<input style="font-size:23px;width:124px;height:60px;" list="browsers" name="job4" type="number">	
			<datalist id="browsers">{% for item in tmp %} <option value={{item.0}}>{{item.0}}</option> {% endfor %} </datalist>
	</div>
	<div class="item5">
		5.<input style="font-size:23px;width:124px;height:60px;" list="browsers" name="job5" type="number">	
			<datalist id="browsers">{% for item in tmp %} <option value={{item.0}}>{{item.0}}</option> {% endfor %} </datalist>
	</div>
	<div class="item6">
		6.<input style="font-size:23px;width:124px;height:60px;" list="browsers" name="job6" type="number">	
			<datalist id="browsers">{% for item in tmp %} <option value={{item.0}}>{{item.0}}</option> {% endfor %} </datalist>
	</div>
</div>
</center>
</form>



<!-- Below Script creates datalist structure for old browsers and Safari -->
<script>
$(document).ready(function () {
	var nativedatalist = !!('list' in document.createElement('input')) && 
		!!(document.createElement('datalist') && window.HTMLDataListElement);
	
	if (!nativedatalist) {
		$('input[list]').each(function () {
			var availableTags = $('#' + $(this).attr("list")).find('option').map(function () {
				return this.value;
			}).get();
			$(this).autocomplete({ source: availableTags });
		});
	}
});
</script>


{% endblock %}  <!-- End Main Block -->


</body>
</html>
