
<!-- ********************************** -->
<!-- ****   Manual_Production_Entry.html   *** -->
<!-- ********************************** -->


{% extends "main.html" %}


{% block content %}

<form action="" method="post">{% csrf_token %}



<br><br>
<center>
<div class="grid-container">
	<div class="item1"><font style="background-color: #AAAAAA;border-radius: 8px;width:200px;height:200px;font-weight: 900;font-size:40px;align=left;color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px #57c8f9, 0 0 5px black;" color="#000000" size ="7"><b> &nbsp;&nbsp; Production Entry  &nbsp;&nbsp; </b></font></div>
	
	
	
	<div class="item6">
		<input style="background-color: #57c8f9;border-radius: 20px;width:100px;height:50px;font-weight: 700;font-size:18px;align=left;" type="submit" value="Enter">
	</div>
	<div class="item7"></div>
	<div class="item8"></div>
	
	<div class="item9">
		<button style="background-color: #AAAAAA;border-radius: 20px;width:100px;height:50px;font-weight: 700;font-size:18px;align=left;" type="submit" name="kiosk_assign_button1" value="-1">Cancel</button>
	</div>
	<div class="item10"></div>
	
	
	<div class="item6"><font color="#000000" size ="5"><u><b>Part</b></u></font></div>
	<div class="item7"><font color="#000000" size ="5"><u><b>Hours</b></u></font></div>
	<div class="item8"><font color="#000000" size ="5"><u><b>Production</b></u></font></div>
	<div class="item9"><font color="#000000" size ="5"><u><b>DTime</b></u></font></div> 
	<div class="item10"><font color="#000000" size ="5"><u><b>Operation</b></u></font></div>
	
	
	<div class="item6"><input style="font-size:18px;width:80px;height:60px;text-align:center;" value={{request.session.part}} name="part" type="text"></div>
	

	<div class="item7"><input style="font-size:23px;width:80px;height:60px;"  value = 8 name="hrs" type="text"></div>
	<div class="item8"><input style="font-size:23px;width:80px;height:60px;"  name="prod" type="number" autofocus></div>
	
	<div class="item9"><input style="font-size:23px;width:80px;height:60px;"  name="down" type="text"></div>
	<div class="item10"><input style="font-size:18px;width:80px;height:60px;"  value={{request.session.machine}} name="machine" type="text"></div>
		
		


</div>
</center>

</form>




{% endblock %}
