<html>

<!-- Redirect page back to url call of '/trakberry/test' going to display view and back to this page  -->
<!-- Do this to update time and information from database reads  -->


<div class="bannerA_bg"><div class="hd2"><font color="white">
<font size="4" color="white">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>TRAKBERRY TESTING</b><font><br></div></div>
<br><br><br><br><img src="/media/machine.jpg" alt="" />
<font size="3" color="black">

Machine: {{Machine}} <br>
Time: {{Time}}
</font>
</body></html>
