<!-- Extend off main_extends1 which extends off Main.  Main extends just adds styling -->
{% extends "main_extends1.html" %}

{% block content %}
<style type="text/css">

@media screen {
    body {background-color: green;}
    v{font-size: 100%;}
    t{font-size: 100%;}
    o{font-size: 100%;}
    
    table, th, td {
	width: 25%;
    border: 1px solid black;
    border-collapse: collapse;
		
	}
	th, td {padding: 0px;}
	.noPrint { display:initial; }
	}

@media print {
	@page {size: portrait}
	body {font-family: Georgia, serif;background: none;color: black;}
	#page {width: 100%;margin: 0; padding: 0;background: none;}
	#container2
	{width: 100%; margin: 0; float: none;}

    table, th, td {border: 1px solid black;width: 65%;border-collapse: collapse;}
    th, td {padding: .25px;width:20%;}
	v{font-size:100%;}
    t{font-size: 60%;}
    o{font-size: 50%;}
    #header, #nav, .noPrint {display: none;}
	}

</style>
<!--
<br><br><center>
-->
<!--   *******************************Below is test code   ********************************* -->

<!-- Load Bootstrap toggle button -->
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script>$('#toggle-demo').bootstrapToggle('off')</script>



<br><br><center>
<table> 
<tr><td bgcolor="#CCDDE3" style="font-size:20px;width:45%;">
<b><center>
Schedule  &nbsp;&nbsp;&nbsp;&nbsp; {{request.session.date_curr}}
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<!-- Loop Counter for Troubleshooting -->   
</center></b>

<!--
<div class="noPrint"><button style="margin-left:10%;" onclick="myFunction()"><b>Print</b></button></div></v>
-->

<table style="width:94%;margin-left:3%;"> 
<tr>
<th bgcolor="#B1BFC4" ><center><t>Description<br>

</t></th>
	<th bgcolor="#B1BFC4" ><center><t>Jobs
</t></th>
	<th bgcolor="#B1BFC4" ><center><t>Employee
</t></th>
</tr>
<!--
<tr>
<th bgcolor="#B1BFC4" rowspan="2"><center><t>Job<br>

<a href="/trakberry/emp_info_enter">
<b>(+)</b>
</a>
</t></th>

-->











<!--  ***************************************************************************************** -->


<!-- **************************  Loop to display all Jobs on 1st Row  *****************************************-->

{% for jndex in list %}

	<tr>
		{% if jndex.1 != qq %}
		
		<th bgcolor="#B1BFC4" rowspan="{{jndex.4}}" ><center><font style="font-size:75%"><t>{{jndex.1}} </t></font></th>
		{% endif %}
		

			
	<td  bgcolor="#FAFAF5"><center><font style="font-size:75%"><t>{{jndex.2}}</font></t></td>   <!-- Name of Job  -->
	
	<td  bgcolor="#FAFAF5"><center><font style="font-size:75%"><t>{{jndex.7}}</font></t></td>   <!-- Name of Employee -->

	</tr>
{% endfor %}



</table>
<br>

<b><center>
      <div class="noPrint">

	 <form action="/trakberry/schedule_set2">
    <input style="background-color: #ffffff;border-radius: 10px;width:100px;height:25px;font-weight: 600;text-align: center;" type="submit" value="Close" />
	</form>
	</div>
</center></b>

</table>





<br><br>

TIME 1 : {{T}} <br>

{% endblock %}	
