<!-- Extend off main_extends1 which extends off Main.  Main extends just adds styling -->
{% extends "main_extends1.html" %}

{% block content %}
<!--
<br><br><center>
-->
<!--   *******************************Below is test code   ********************************* -->

<!-- Load Bootstrap toggle button -->


<br><br><center>
<table style="width:25%;"> 
<tr><td bgcolor="#CCDDE3" style="font-size:20px;width:45%;">
<b><center>
No Possible Solution!
</center></b>

</td></tr></table>




<br><br>


{% endblock %}	
