
<!DOCTYPE html>
<html>
<body>


<br><br><br>
DONE DB Fix !!!!
<br>
{{temp1}}
<br>
{{temp2}}
<br><br><br>

{{request.session.variable1}}:{{request.session.part1}}:{{request.session.machine1}}<br>
{{request.session.variable2}}:{{request.session.part2}}:{{request.session.machine2}}<br>
{{request.session.variable3}}:{{request.session.part3}}:{{request.session.machine3}}<br>
{{request.session.variable4}}:{{request.session.part4}}:{{request.session.machine4}}<br>
{{request.session.variable5}}:{{request.session.part5}}:{{request.session.machine5}}<br>
{{request.session.variable6}}:{{request.session.part6}}:{{request.session.machine6}}<br>


</body>
</html>
