
{% extends "main.html" %}

{% block content %}

<div class="container"><br><br><br>
    <div class="row">
		<div class="col-sm-8">
		  <br><center><h2> <b><font color="#000000"><u>Inventory Section Coming Soon !</u></b></h2></center><br><br>
		  <p>This section gives users a view of all levels of inventory from a live tracking viewpoint.  
		  It will utilize the live tracking tool and display inventory at each stages of the operation.
		  Users can even view back to previous dates to gather snapshots of in-house inventory levels for
		  comparison purposes.  This provides a powerful tool for managing production levels accurately 
		  at each stage.
		  
		  </p>
		  
		  </font>
		  </div>

		</div>
	</div>	
</div>	

{% endblock %}	
