{% extends "main_log2.html" %}
<!-- main_login_form.html -->
{% block content %}
<div class="container"><br><br><br>
    <div class="row">
		<div class="col-sm-8">
			
<form action="" method="post">{% csrf_token %}
<!-- Style my form to [form_css]  -->
<table>
<tr><td colspan="2" style="font-size:25px;"><b><u><center>Enter New Password</center></b></u></td><tr>
<tr><td>&nbsp;&nbsp;&nbsp;</td></tr>

<tr><td><b><u>Login Name</b></u>&nbsp;&nbsp;&nbsp;</td><td><input style="font-size:14px;width:320px;height:30px;background-color : #d1d1d1;" value = '{{login_name}}' type="text" readonly></td></tr>

<tr><td><b><u>New Password</b></u>&nbsp;&nbsp;&nbsp;</td><td><input style="font-size:14px;width:320px;height:30px;" type="password" name="login_password1"></td></tr>
<tr><td><b><u>Re-Type Password</b></u>&nbsp;&nbsp;&nbsp;</td><td><input style="font-size:14px;width:320px;height:30px;" type="password" name="login_password2"></td></tr>

<tr><td><input style="background-color: #999999;border-radius: 10px;width:90px;height:30px;" type="submit"></td></tr>

</table>
</form>
		  </div>

		</div>
	</div>	
{% endblock %}
