<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Usable Development: @media Example 1</title>
  <style type="text/css">
  
  
  @media screen {
    body {font: 75%/1.4 verdana,geneva,lucida,arial,sans-serif;
          background: #000011; color: #000;}
    h1 {font-size: 160%; color: green; font-style: italic;}
  }

  h2 {font-size: 140%; color: purple;}

  
  
  @media print {
    body {font: 12pt georgia,serif;}
    h1 {font-size: 18pt;}
    h2 {font-size: 15pt; color: #000;}
  }
 </style>
</head>
<body>
<h1>Media-Specific CSS</h1>
<h2>Example 1</h2>
<p>Sample text</p>
</body>
</html>