
{% extends "main.html" %}

{% block content %}

<div class="container"><br><br><br>
    <div class="row">
		<div class="col-sm-8">
		  <br><center><h2> <b><font color="#000000"><u>Reports Section !</u></b></h2></center><br><br>
		  <p>This section will allow users to view and print production reports on any interval date selected.  
			Users can view machine downtime, production flows and view comparison graphs.
		  
		  </p>
		  
		  </font>
		  </div>

		</div>
	</div>	
</div>	

{% endblock %}	
