
{% extends "main.html" %}

				
{% block content %}

				
				
<div class="container"><br><br><br>
    <div class="row">
		<div class="col-sm-8">
		<center><font color="black" style="z-index: 9999;"><h2><b><u>Robot Machine Relation</u></b></h2> </font></center><br>
<form action="" method="post">{% csrf_token %}
<!-- Style my form to [form_css]  -->

<table style="width:70%;margin-left:10%;">
<tr><td><b><u>Robot</b></u>&nbsp;&nbsp;&nbsp;</td><td><input style="font-size:14px;width:320px;height:30px;" type="text" name="robot"></td></tr>
<tr><td><b><u>Machine</b></u>&nbsp;&nbsp;&nbsp;</td><td><input style="font-size:14px;width:320px;height:30px;" type="text" name="machine1"></td></tr>
<tr><td><b><u>Machine</b></u>&nbsp;&nbsp;&nbsp;</td><td><input style="font-size:14px;width:320px;height:30px;" type="text" name="machine2"></td></tr>
<tr><td><b><u>Machine</b></u>&nbsp;&nbsp;&nbsp;</td><td><input style="font-size:14px;width:320px;height:30px;" type="text" name="machine3"></td></tr>
<tr><td><b><u>Machine</b></u>&nbsp;&nbsp;&nbsp;</td><td><input style="font-size:14px;width:320px;height:30px;" type="text" name="machine4"></td></tr>
<tr><td><b><u>Part</b></u>&nbsp;&nbsp;&nbsp;</td><td><input style="font-size:14px;width:320px;height:30px;" type="text" name="part"></td></tr>
<tr><td>
  <input style="background-color: #999999;border-radius: 10px;width:90px;height:30px;" type="submit"></td></tr>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</table>

</form>
		 

		</div>
	</div>	
</div>	


{% endblock %}	
