
{% extends "main.html" %}

{% block content %}

<div class="container"><br><br><br>
    <div class="row">
		<div class="col-sm-8">
		  <br><center><h2> <b><font color="#000000"><u>Employee Scheduler Section Coming Soon !</u></b></h2></center><br><br>
		  <p>This section will give users ability to update and maintain employee training matrix, schedule and store daily jobs,
			evaluate and compare employee efficiency based on live tracking numbers that are linked to schedules and update 
			and view employee vacations. This section will enable all users to view information on all employees plant
			wide which in turn keeps all informed.
		  
		  </p>
		  
		  </font>
		  </div>

		</div>
	</div>	
</div>	

{% endblock %}	
