
<html>

<body>



<form action="" method="post">{% csrf_token %}
<!-- Style my form to [form_css]  -->
<table>

<!-- Old entry for Form inputs
<tr><td>Machine&nbsp;&nbsp;{{form.machine }}</font></td></tr>
<tr><td>Qty&nbsp;&nbsp;{{ form.qty }}</font></td></tr>
<tr><td>Time&nbsp;&nbsp;{{ form.time }}</font></td></tr>
<tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" name="submit" value="Submit"/></td></tr>
-->
<b><u>Machine Simulation</b></u>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="submit" name="749button" value="749" />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="submit" name="748button" value="748" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="submit" name="750button" value="750" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="submit" name="677button" value="677" />


</table>
</form>
</body>
</html>