<!-- ********************************** -->
<!-- ****   Kiosk_Hourly_Entry.html   *** -->
<!-- ********************************** -->


{% extends "mgmt.html" %}
{% block content %}
<style>


</style>

	<link rel="stylesheet" href="/static/style_1/grid_mgmt_production_hourly.css?{{TCUR}}">

<form action="" method="post">{% csrf_token %}

<br><br>
<center>
<div class="grid-container">
	<div class="item1" style="font-size:50px;text-align:center;"><b><u>Hourly Editing</u></b></div>
	<div class="item1" style="font-size:50px;text-align:center;"></div>
	<div class="item6">
        <input style="font-size:23px;width:200px;height:60px;text-align:center;" name="mgmt_hourly_cell" value={{request.session.mgmt_hourly_cell}}>
	</div>

	<div class="item7">
            <input style="background-color: rgb(177, 167, 182);border-radius: 10px;width:120px;height:60px;font-weight: 700;font-size:23px;align=left;" type="submit" value="Update">
        </div>
	<div class="item8">
		<button style="background-color: #AAAAAA;border-radius: 10px;width:120px;height:60px;font-weight: 700;font-size:23px;align=left;" type="submit" name="kiosk_assign_button1" value="-1">Cancel</button>
	</div>
	
	
	<div class="item13"><font color="#000000" size ="5" style="text-align:center;"><u><b>Date</b></u></font></div>
	<div class="item7"><font color="#000000" size ="5"><u><b>Shift</b></u></font></div>
	<div class="item8"><font color="#000000" size ="5"><u><b>Initials</b></u></font></div>

	<div class="item13"><input style="font-size:23px;width:200px;height:60px;text-align:center;" type="date" name="mgmt_hourly_date" value="{{ddate}}"></div>
	<div class="item7">
		<select  style="font-size:23px;width:200px;height:60px;text-align:center;" name="mgmt_hourly_shift" id="shift">
			<option selected = "selected">{{request.session.mgmt_hourly_shift}}</option>
			<option> Mid </option>
			<option> Day </option>
			<option> Aft </option>
			<option> Cont A Day </option>
			<option> Cont B Day </option>
			<option> Cont A Mid </option>
			<option> Cont B Mid </option>
		</select>
	</div>
	<div class="item8"><input style="font-size:23px;width:100px;height:60px;text-align:center;" name="mgmt_hourly_initials" value={{request.session.mgmt_hourly_initials}}></div>

	<div class="item13"><font color="#000000" size ="5"><u><b>Hour</b></u></font> </div>
	<div class="item7"><font color="#000000" size ="5"><u><b>Parts Made</b></u></font> </div>
	<div class="item8"><font color="#000000" size ="5"><u><b>Downtime</b></u></font> </div>


	<div class="item13">
		<select style="font-size:23px;width:200px;height:60px;text-align:center;"  value = {{request.session.mgmt_hourly_hour}} name="mgmt_hourly_hour" type="text">
			<option selected = "selected">{{request.session.mgmt_hourly_hour}}</option>
			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
			<option>5</option>
			<option>6</option>
			<option>7</option>
			<option>8</option>
				<option>9</option>
				<option>10</option>
				<option>11</option>
				<option>12</option>

		</select>
	</div>


	<div class="item7"><input style="font-size:23px;width:200px;height:60px;text-align:center;" name="mgmt_hourly_actual" value={{request.session.mgmt_hourly_actual}} type="text" autofocus></div>

	<div class="item8">
		<select style="font-size:18px;width:300px;height:60px;text-align:center;" name="mgmt_hourly_dtcode" value={{request.session.mgmt_hourly_dtcode}}type="text">
			<option selected = "selected"></option>
			<option>Unplanned Down Tech</option>
			<option>Unplanned Down Maint</option>
			<option>Quality 1st Off</option>
			<option>Quality Issue</option>
			<option>Material (Issue/Shortage/etc)</option>
			<option>Housekeeping</option>
			<option>Scheduled/Planned Down</option>
			<option>Training</option>
			<option>Lunch or Break</option>
			<option>People shortage</option>
			<option>Other</option>
		</select>
	</div>

	<div class="item13"><font color="#000000" size ="5"><u><b>Downtime Min</b></u></font> </div>
	<div class="item7"><font color="#000000" size ="5"><u><b>Downtime Reason</b></u></font> </div>
	<div class="item8"><font color="#000000" size ="5"><u><b></b></u></font> </div>

	<div class="item13"><input style="font-size:23px;width:200px;height:60px;text-align:center;" name="mgmt_hourly_dtmins" value={{request.session.mgmt_hourly_dtmins}} type="text" ></div>
	<div class="item15"><input style="font-size:23px;width:550px;height:60px;text-align:center;" name="mgmt_hourly_dtreason" value={{request.session.mgmt_hourly_dtreason}} type="text" ></div>

	<div class="item1" style="font-size:50px;text-align:center;"></div>
	<div class="item1" style="font-size:50px;text-align:center;"></div>
	<div class="item1" style="font-size:50px;text-align:center;"></div>
	<div class="item1" style="font-size:50px;text-align:center;"></div>
	<div class="item1" style="font-size:50px;text-align:center;"></div>
	<div class="item1" style="font-size:50px;text-align:center;"></div>
	<div class="item1" style="font-size:50px;text-align:center;"></div>
	<div class="item1" style="font-size:50px;text-align:center;"></div>
	<div class="item1" style="font-size:50px;text-align:center;"></div>
</div>
</form>




{% endblock %}